# Dominio relay in produzione
{$FEDI3_DOMAIN} {
  request_body {
    max_size 64MB
  }

  @media path /users/*/media/*
  handle @media {
    reverse_proxy relay:8787
  }

  handle {
    encode zstd gzip
    reverse_proxy relay:8787
  }
}
