name: Rust

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  rust:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Rust tests
        run: |
          cargo test -p fedi3_core
          cargo test -p fedi3_relay
